ORCA_ENV=production
ORCA_DATA=/app/data
ORCA_TRACKING=/app/data/tracking
ORCA_ARTIFACTS=/app/data/artifacts
ORCA_MODELS=/app/models
ORCA_LOG_LEVEL=INFO

OPENSTACK_AUTH_URL=http://openstack:5000/v3
KUBECONFIG=/app/config/kubeconfig

ORCAOPTA_OTLP_ENDPOINT=http://localhost:5000/v1/traces
ORCAOPTA_EXPERIMENT_ID=0

ORCAOPTA_KEYS="your-fernet-key"
