fastapi
uvicorn[standard]
python-multipart
pydantic
requests

torch
torchvision
tensorflow
keras

SQLAlchemy

opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-http

cryptography
ossaudit

shap

openstacksdk
kubernetes
python-hcl2
minio
pyyaml
py4j
kafka-python


rich
python-dotenv
typer
orjson
pyyaml

attackcti
stix2
taxii2-client
web3
click