########################################
# CORE DATA SCIENCE
########################################
pandas
numpy
scikit-learn
joblib
requests

########################################
# VISUALIZATION
########################################

matplotlib>=3.11
seaborn
plotly
pyvis
networkx

########################################
# JUPYTER STACK
########################################
jupyter
notebook
jupyterlab
ipython
ipykernel
pyzmq

########################################
# MLOps
########################################
#mlflow
