# API Framework
fastapi
uvicorn[standard]
python-multipart
pydantic
requests

pandas
numpy
scikit-learn
joblib

stable-baselines3
gymnasium

SQLAlchemy


opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-http

cryptography
ossaudit
#hoppr-cop
pyspark


rich
python-dotenv
typer
orjson
pyyaml

attackcti
stix2
taxii2-client
web3